body{
    background-color: purple;
}
h1{
    background-color: rgb(39, 20, 83);
    color: seashell;
}
#showmodal{
float:right;
}
p{
    padding-top: 10px;
    font-size: 25px;
    color: snow;
}
Canvas{
    border:5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 5s;
    margin-top: 30px;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow: 2px 2px 40px black;}
    to{box-shadow: 2px 2px 40px white;}
}
#clear{
    font-size: 25px;
margin-top: 15px;
}